body {
    font-size: 14px;
    line-height: 1.5;
    color: #222;
}

.page-header {
	display: none;
}

#content {
	padding-top: 100px;
	padding-bottom: 30px;
	margin: 0px auto;
	width: 960px;
}

table th {
	color: rgb(255, 255, 255);
	background-color: rgb(55, 58, 90);
	text-transform: none;
}

td, th {
	padding: 5px;
}

a {
	color: rgb(0,0,120);
	font-weight: bolder;
}

table {
	border-collapse: collapse;
}

table td {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subth {
	background-color: rgb(200, 200, 200);
	font-style: italic;
	font-weight: bold;
}

.section, .chapter, .book, .appendix {
	margin: 30px auto;
	width: 960px;
}

.figure, .informalfigure {
    clear: both;
    float: right;
    padding: 10px;
    background-color: transparent;
}

.figure p.title, .inlinefigure p.title, .informalfigure .informaltable td, .inlinefigure .informaltable td {
	font-size: 80%;
	font-weight: bold;
	width: 4cm;
}

.informalfigure .informaltable .inlinefigure td {
    word-wrap: break-word;
    width: 10px;
    padding: 1px 5px;
}

.guibutton {
    font-family: sans-serif;
    font-size: 90%;
    background: lightgrey;
    border-style: outset;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

.guimenu {
    font-family: monospace;
}

.guimenuitem {
    font-family: monospace;
}

.guilabel {
    font-style: italic;
}

.title {
	display: block;
	padding-top: 70px;
	margin-top: -70px;
}

.legalnotice, .copyright {
	font-size: smaller;
}

.term {
  font-style: italic;
}

.programlisting {
    background-color: white;
    padding: 20px;
}

.comment {
	color: green;
}

.warning {
	color: red;
}

.navheader table, .navheader td {
	padding: 3px;
	border: 0px;
}

.navheader td:last-child {
	text-align: right;
}

.navheader a {
	font-weight: normal;
}
